* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    font-family: Roboto, serif;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    gap: 4px;
    background: #e5f0e3;
    border: 4px dotted black;
}


.logo img {
    max-width: 3rem;
    filter: invert(100%);
    border: 2px solid green;
}

div.logo {
    font-size: 2rem;
    color: white;
}

img.icons {
    max-width: 1.5rem;
}


.header {
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    box-shadow: 0px 3px 5px #ccc;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
}

.search {

}

.account {

}

.greeting {

}

.post {
    gap: 2rem;
    align-self: center;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.user-pfp {
    border-radius: 50%;
}

.account > .user-pfp {
    max-width: 75px;
}

.side-nav .icons {
    filter: invert(100%);
    box-sizing: content-box;
    padding: 10px;
}

.menu ul, .menu li {
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.announcements .announce, .trending .user {
    background-color: white;
}

li {
    border: 5px solid orange;
}

.menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 4px;
    color: white;
}


.side-nav {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    border: 2px dashed red;
    background: #60a35e;
    display: grid;
    grid-template-rows: 10% 50% 40%;
    grid-template-columns: 1fr;
    justify-content: left;
    padding: 1rem 2rem;
}

.project-section {
    padding: 20px 12px;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.announcements, .trending {
    padding: 20px 12px;
    grid-column: 3 / -1;
    padding: 20px 12px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border: 2px dotted black;
}

.section-title {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.projects .card {
    border-left: 7px solid hsl(338, 38%, 42%);
    display: grid;
    grid-template-rows: 1fr auto 1fr 1fr;
}

.projects .card  div {
    background-color: lightblue;
    grid-row: -2 / -1;
    width: fit-content;
    justify-self: end;
}

.card {
    border-radius: 7px;
    background-color: white;
    padding: 2rem 1.25rem;
}

.greeting > img {
    max-width: 50px;
}

button {
    background: #60a35e;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #60a35e;
    font-size: 1rem;
}

input {
    background-color: #e5f0e3;
    width: clamp(400px, 80%, 1000px);
    height: 1.5rem;
    border-radius: 50px;
    outline: none;
    border: 1px solid  #e5f0e3;
}

ul li {
    display: flex;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 1rem;
}

.announcements .card {
    display: grid;
    gap: 4px;
    padding: 1rem;

}

.announce { 
    padding: 1rem;
}

.announcements .card > *:not(:last-child) {
    border-bottom: 2px solid #e5f0e3;
}

.card {
    box-shadow: 0px 3px 5px #ccc;
}
